* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100%;
}

.game {
  width: 23.5rem;
  height: 50rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.game-window {
  height: 50rem;
  width: 23.5rem;
  overflow: hidden;
}

.game-window-player {
  position: relative;
  height: 904px;
  width: 23.5rem;
  background-image: url(./new\ road.jpg);
  background-repeat: repeat-y;
}

.game-window-player-active {
  animation: road 2s linear infinite;
}

@keyframes road {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}

/*boty and player */

.game-window-player-car {
  position: absolute;
  top: 40%;
  left: 70%;
  height: 8rem;
  width: 5rem;
  background-image: url(./car\ player.svg);
}

/* bot one */

.game-window-bot-car-1 {
  position: absolute;
  top: -10%;
  left: 60%;
  height: 8rem;
  width: 5rem;
  background-image: url(./car\ bot\ 1.svg);
}

.game-window-bot-car-1-active {
  animation: bot1 3s 2s linear infinite;
}
@keyframes bot1 {
  0% {
    top: -10%;
  }
  100% {
    top: 55%;
  }
}

/* bot two */
.game-window-bot-car-2 {
  position: absolute;
  top: -20%;
  left: 9%;
  height: 8rem;
  width: 5rem;
  background-image: url(./car\ bot\ 2.svg);
}

.game-window-bot-car-2-active {
  animation: bot2 4s 2s linear infinite;
}
@keyframes bot2 {
  0% {
    top: -20%;
  }
  100% {
    top: 55%;
  }
}

/* bot three */
.game-window-bot-car-3 {
  position: absolute;
  top: -15%;
  left: 40%;
  height: 8rem;
  width: 5rem;
  background-image: url(./car\ bot\ 3.svg);
}

.game-window-bot-car-3-active {
  animation: bot3 4s 20s linear infinite;
}
@keyframes bot3 {
  0% {
    top: -15%;
  }
  100% {
    top: 55%;
  }
}
